<div class="container texto">
    
    <h1>
        Contact
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolorem, sed enim iusto nostrum esse iste,
        dolores modi vitae quaerat unde? Placeat rem officiis ipsa illum laborum magni minima incidunt.
    </p>
</div>




<div class="container mt-4 mb-4">
<form class="p-4 m-5 border rounded bg-light ">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label fs-6git"><strong>Your E-mail</strong></label>
        <div class="col-sm-10">
            <input type="email" class="form-control" placeholder="Your email">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label fs-6"><strong>Your Message</strong></label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="4" placeholder="Please enter your message here..."></textarea>
        </div>
    </div>
    <div class="text-end">
        <button type="button" class="btn btn-primary ">Send</button>
    </div>
    </div>

</form>
</div>