<div class="container texto">
    
    <h1>
        Contact
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolorem, sed enim iusto nostrum esse iste,
        dolores modi vitae quaerat unde? Placeat rem officiis ipsa illum laborum magni minima incidunt.
    </p>
</div>




<div class=" col-md-9 mt-4 mb-4 p-2 mx-auto">
<form class="p-4 m-5 border rounded bg-light  ">
    <div class="row mb-3 ms-5">
        <label class="col-sm-3 col-form-label fs-6"><strong>Your E-mail</strong></label>
        <div class="col-sm-9">
            <input type="email" class="form-control" placeholder="Your email">
        </div>
    </div>
    <div class="row mb-3 ms-5">
        <label class="col-sm-3 col-form-label fs-6"><strong>Your Message</strong></label>
        <div class="col-sm-9">
            <textarea class="form-control" rows="4" placeholder="Please enter your message here..."></textarea>
        </div>
    </div>
    <div class="text-end">
        <button type="button" class="btn btn-primary  p-3 fs-5">Submit</button>
    </div>
    </div>

</form>
</div>