
<!-- your html code here -->
<div class="container mt-5">
    <div class=" row justify-content-between ">
        <div class=" col-md-8">
            <h3>the first heading <span class="text-secondary"> will catch your eye</span> </h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, quam
                dignissimos.
                Ratione, exercitationem! Cum iusto deleniti, fugit odio aperiam similique itaque temporibus
                voluptatum
                nostrum provident eum quasi, culpa placeat. Aliquid.</p>
        </div>
        <img src="./assets/img/1.jpg" class=" col-md-3 rounded-circle d-flex align-items-end ">

    </div>
<div class="w-100 text-center d-flex justify-content-center">
    <hr class="w-75">
    </div>
</div>
